::-webkit-scrollbar {
    height: 0px;
}
.fc-event-past {
    color:#F2F2FD !important;
}


.fc-event-start{
    color:#F2F2FD;
}
.fc-event-future{
    color:#413AE2 !important;
}
.fc-h-event{
    background-color: #F2F2FD !important;
}

.fc-v-event{
    background-color: #F2F2FD !important;
}



.fc .fc-daygrid-day-number,
.fc .fc-col-header-cell-cushion {
    color: black;
    text-decoration: none;
}

.fc-col-header tr {
    background: linear-gradient(239deg, rgba(94, 91, 255, 0.12) 0%, rgba(124, 118, 255, 0) 127.25%);
    height: 45px;
}

.fc-col-header tr div {
    height: 45px;
}

.fc .fc-col-header-cell-cushion {
    padding: 10px 4px !important;
}

table {
    border-radius: 10px;
}

.fc-h-event:hover,
.fc-event-title:hover {
    cursor: pointer;
}

.fc-daygrid-more-link {
    background-color: #4e4e55;
    color: white;
    padding: 3px;
    border-radius: 10px;
    /* margin-top: 10px; */
}

.fc-daygrid-more-link:hover {
    color: white;
    text-decoration: none;
}

.fc-event-main-frame,
.fc-daygrid-event-harness {
    background-color: #F2F2FD;
    OVERFLOW: hidden;
    padding: 0px 5px;
}


.fc-h-event {
    border: 0px !important;
}


.fc-daygrid-event-dot {
    display: none;
}

.fc-event-title {
    display: block;
    /* color: #413AE2; */
}

.fc-h-event,
.fc .fc-daygrid-event,
.fc-event-main-frame {
    display: grid !important;
}

.fc-daygrid-day-events {
    margin: 0px 6px;
}

.fc .fc-daygrid-day-bottom {
    padding: 0px !important;
    font-size: 12px;
}

.fc-daygrid-dot-event:hover,
.fc-daygrid-dot-event.fc-event-mirror:hover {
    background: none !important;
}

.fc-daygrid-day-top {
    justify-content: center !important;
}


/* ~~~~~~~~header ~~~~~~~~~~~*/

.fc-toolbar-chunk div {
    display: flex !important;
}

.fc .fc-next-button,
.fc-prev-button {
    background-color: transparent !important;
    color: black !important;
    border: 1px solid transparent !important;
}


.fc-button-primary {
    text-transform: capitalize !important;
}

.fc .fc-listWeek-button {
    display: none !important;
}

.fc .fc-button-group .fc-button {
    background: linear-gradient(239deg, rgba(94, 91, 255, 0.12) 0%, rgba(124, 118, 255, 0) 127.25%) !important;
    color: black !important;
    border: 1px solid #e4e4e7 !important;
}

.fc-direction-ltr .fc-button-group>.fc-button {
    border-radius: 0.25em !important;
    border-radius: 0.25em !important;
}

.fc-toolbar-chunk:nth-child(2) {
    padding-left: 0px !important;
    padding-right: 0px !important;
}  
@media (max-width:1170px) {
    .fc-toolbar-chunk:nth-child(2) {
        margin-top:3%;
        padding-left: 0px !important;
        align-self: center !important;
        padding-right: 0px !important;
    }  
    .fc-toolbar-chunk:nth-child(3){
        padding-left: 0px !important;
        align-self: center !important;
        padding-right: 0px !important;
    }  
  
.fc .fc-toolbar {
        display: contents !important;

    }
}
.fc-scroller {
    overflow: auto !important;
    scrollbar-height: none;
}

.fc-scroller {
    overflow: auto !important;
    scrollbar-height: none;
}


/* day calendar */

.fc .fc-daygrid-day.fc-day-today,
.fc .fc-timegrid-slot-lane {
    background-color: white !important;
}

.fc .fc-button-primary {
    /* color:#fff !important; */
    background-color: var(--fc-button-bg-color, #fff) !important;
    background-color: var(--fc-button-border-color, #fff) !important;
    border: 0px solid !important;
    /* -webkit-box-shadow: 0 0 0 0.2rem #fff !important; */
    /* box-shadow: 0 0 0 0.2rem #fff !important; */
}

/* 
.fc .fc-button-primary:hover {
    color:#fff !important
} */
.fc-timegrid-slots tr {
    border: 1px solid transparent !important;
}

.fc-scrollgrid-shrink-cushion {
    text-transform: uppercase !important;
    font-size: 15px;
}

.fc-timegrid-event {
    border: 1px solid #F2F2FD !important;
}

.fc-event-main {
    padding: 0px !important;
    overflow: hidden;
}
.fc-timegrid-event{
    border: 0px solid transparent !important;

}
.fc-event-title,
.fc-event-time {
    font-weight: 700;
    font-size: 17px !important;
}

.fc .fc-daygrid-day-frame {
    min-height: 115px !important;
}

.fc-timeGridDay-view .fc-event-time {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.fc-timeGridDay-view .fc-event-title {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    align-items: center;
}

.fc-more-popover .fc-day {
    z-index: 1;
}

.fc-timeGridDay-view .fc-event-time {
    margin-right: 24px;
}

.fc .fc-toolbar-title {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:1000px) {
    .fc .fc-toolbar-title {
        min-width: 214px;
    }
}

@media screen and (max-width:815px) {
    .fc .fc-daygrid-day-frame {
        min-height: 90px !important;
    }
    .fc-toolbar-chunk:nth-child(3) {
        display: block !important;
    }
    .fc .fc-daygrid-day,
    .fc-col-header-cell {
        width: 70px !important;
    }
    .fc-event-time,
    .fc-event-title,
    .fc-daygrid-more-link,
    .fc-daygrid-day-number,
    .fc .fc-col-header-cell-cushion {
        font-size: 12px !important;
    }
    /* .fc-event-time {
        margin-right: -15px !important;
    } */
}

.fc .fc-button-primary:focus {
    /* color:#fff !important; */
    background-color: var(--fc-button-bg-color, #fff) !important;
    background-color: var(--fc-button-border-color, #fff) !important;
    border: 0px solid !important;
    -webkit-box-shadow: 0 0 0 0.0rem rgb(204, 204, 204) !important;
    /* box-shadow: 0 0 0 0.2rem #fff !important; */
} 

.fc-next-button{
    /* color:rgb(29, 27, 27) !important; */
    background-color: var(--fc-button-bg-color, #fff) !important;
    background-color: var(--fc-button-border-color, #fff) !important;
}
.fc .fc-button-primary:active {
    /* color:#fff !important; */
    background-color: var(--fc-button-bg-color, #fff) !important;
    background-color: var(--fc-button-border-color, #fff) !important;
    border: 0px solid !important;
    /* -webkit-box-shadow: 0 0 0 0.2rem #fff !important; */
    /* box-shadow: 0 0 0 0.2rem  !important; */
}

@media screen and (max-width:500px) {
    .fc-toolbar-chunk:nth-child(2) {
        /* display: inline !important; */
        margin-top: -6%;
    }
    .fc-toolbar-chunk:nth-child(2) div {
        margin-top: 40px !important;
    }
    .fc .fc-view-harness {
        height: 383.63px !important;
    }
    .fc .fc-col-header-cell-cushion {
        padding: 14px 4px !important;
    }
    .fc-timeGridDay-view .fc-event-time {
        display: block;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .fc-timeGridDay-view .fc-event-title {
        display: grid;
        position: relative;
    }
    .fc-timeGridWeek-view .fc-timegrid-more-link {
        right: 17px !important;
    }
    .fc-timeGridWeek-view .fc-v-event .fc-event-main-frame {
        width: 87px;
    }
}

@media screen and (max-width:300px) {
    .fc-button-primary {
        font-size: 14px !important;
    }
}


/* .fc .fc-button-primary:focus{
        border:0px solid transparent !important;
outline: 0 !important;
    } */