.fc .fc-daygrid-day-number,.fc .fc-col-header-cell-cushion{
    color:black;
    text-decoration: none;
}
.fc-col-header tr{ 
background: linear-gradient(239deg, rgba(94, 91, 255, 0.12) 0%, rgba(124, 118, 255, 0) 127.25%);
height: 45px;
}
.fc-col-header tr div{
    height: 45px;

}
.fc .fc-col-header-cell-cushion{
padding: 10px 4px !important;
}
table{
    border-radius: 10px;

}
.fc-h-event:hover, .fc-event-title:hover{
    cursor: pointer;
}
.fc-daygrid-more-link{
    background-color: #4e4e55;
    color: white;
    padding: 3px;
    border-radius: 10px;
    /* margin-top: 10px; */
}
.fc-daygrid-more-link:hover{
    color: white;
    text-decoration: none;

}
.fc-event-main-frame,.fc-daygrid-event-harness{
    background-color: #F2F2FD;
    color:#413AE2;
    padding:0px 5px;
    
}
.fc-h-event{
    border:0px !important;
}
.fc-event-time{
    color:#413AE2;

}
.fc-daygrid-event-dot{
display: none;
}
.fc-event-title{
    display: block;
    color:#413AE2;

}
.fc-h-event, .fc .fc-daygrid-event,.fc-event-main-frame {
    display: grid !important;
}
.fc-daygrid-day-events{
    margin:0px 6px;
}
.fc .fc-daygrid-day-bottom{
    padding:0px !important;
    font-size: 12px;
}
.fc-daygrid-dot-event:hover, .fc-daygrid-dot-event.fc-event-mirror:hover{
    background: none !important;
}
.fc-daygrid-day-top{
    justify-content: center !important;
} 

/* ~~~~~~~~header ~~~~~~~~~~~*/
.fc-toolbar-chunk div{
    display: flex !important;
}
.fc .fc-next-button,.fc-prev-button{
    background-color: transparent !important;
    color: black !important; 
    border: 1px solid transparent !important;
}
.fc .fc-button-primary:hover{
    border: 1px solid transparent !important;

}
.fc-button-primary{
    text-transform: capitalize !important;
}
.fc .fc-listWeek-button{
display: none !important;
}
.fc .fc-button-group .fc-button{
    background: linear-gradient(239deg, rgba(94, 91, 255, 0.12) 0%, rgba(124, 118, 255, 0) 127.25%) !important;
   color:black !important;
   border: 1px solid #e4e4e7 !important;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child){
     border-top-right-radius: 0.25em !important; 
    border-bottom-right-radius: 0.25em !important;
}
.fc-toolbar-chunk:nth-child(2){
    padding-left: 119px;
}
.fc-scroller{
    overflow: auto !important;
}
 /* day calendar */
 .fc .fc-daygrid-day.fc-day-today, .fc .fc-timegrid-slot-lane{
     background-color: white !important;
 }
 .fc-timegrid-slots tr{
    border: 1px solid transparent !important;
 }
.fc-scrollgrid-shrink-cushion{
     text-transform: uppercase !important;
font-size: 15px;
    }
    .fc-timegrid-event{
        border: 1px solid #F2F2FD !important;

    }
 .fc-event-main{
    padding: 0px !important;
    }
    .fc-event-title, .fc-event-time{
    font-weight: 700;
    font-size: 17px !important;
    }
    .fc-timeGridDay-view .fc-event-time{
        display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    }
    .fc-timeGridDay-view .fc-event-title{
         display: flex;
    justify-content: flex-start;
    position: absolute;
    align-items: center;
    }
    .fc-more-popover .fc-day{
        z-index: 1;
    }