.hamburgerNav .icon {
	font-size: 28px;
	color: #1E1E22;
	position: absolute;
	right: 9px;
	top: 0;
	cursor: pointer;
    margin:30px 0px;

}
#sidebar-wrapper.my-sidebar a {
	color: #1E1E22;
	cursor: pointer;
}


#sidebar-wrapper.my-sidebar a:hover {
	text-decoration: underline;
}
#sidebar-wrapper.my-sidebar .user-status .user-status-icon i {
	padding-left: 6px;
}

#sidebar-wrapper.my-sidebar .user-status .user-status-icon img {
	border-radius: 50%;
	width: 65%;
	height: 50%;
	vertical-align: top;
	background-color: #FCFCFD;
	/* box-shadow: 0 0 17px rgba(0, 0, 0, 0.5); */
}
#sidebar-wrapper.my-sidebar .user-status .user-status-icon {
	font-size: 23px;
	border: 1px solid #E4E4E7;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-top: -53px;
	background-color: #FCFCFD;

}
#sidebar-wrapper.my-sidebar {
	background-color: #ffffff;
	color: #1E1E22;
	padding: 30px 0px;
	box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
	text-align: left !important;
	width: 100%;
	overflow-x: hidden;

	/* scrollbar-color: #bfbfbf #333940;*/
	scrollbar-width: none;
}

#sidebar-wrapper.my-sidebar::-webkit-scrollbar {
	width: 0px;
}
#sidebar-wrapper.my-sidebar {
	z-index: 999 !important;
}
.header{
	font-size: 14px !important;
    text-transform: uppercase;
    font-weight: 700 !important;
    padding: 0.5rem 1.3rem;

}
#sidebar-wrapper h5 {
	font-weight: 300;
	padding-bottom: 10px;
}
.nav-link:hover {
	text-decoration: none !important;
	color: #413AE2 !important;
}

.nav-link-active {
	display: block;
	color: #413AE2 !important;
	font-weight: bold;
    border-right: 4px solid #413AE2;
    background: linear-gradient(270deg, rgba(94, 91, 255, 0.12) 0%, rgba(124, 118, 255, 0) 131.25%);
}
.nav-link{
    padding: 0.7rem 0.2px 0.7rem 1.2rem;

    /* margin: 0px -20px;
    padding:10px 20px;
 */
}
.nav-link-active{
	padding-right: 7px;

}
.user-status{
    padding: 10px 20px;

}
.toggleHidden{
    font-size: 18px;
}
.bird{
	margin-left: 7px;
    margin-top: 6px;
}
.imageHolder{
	width:50px;
	height: 50px;
	border-radius: 50%;
	border:1px solid #E4E4E7;
	background: linear-gradient(270deg, rgba(94, 91, 255, 0.12) 0%, rgba(124, 118, 255, 0) 131.25%);
	justify-content: center;
    align-items: center;
   display: flex;
}
.grid{
	display: flex;
	padding-left: 0px;
    justify-content: space-evenly;
    margin-right: 31px;
    margin-top: 45px;
	margin-bottom: 60px;
}
.fontAwesomeIcon{
	align-items: "baseline";
	font-size: 1.2rem;
	padding-left: 2px;
	padding-right: 22px;
}
#wrapper.toggled #sidebar-wrapper.sidebar-closed .toggleHidden {
	display: none;
	transition-duration: 1s;
}

#wrapper.toggled #sidebar-wrapper.sidebar-closed .menu {
	justify-content: center;
	margin-right: 15px;
	width: 13px;
	right: 26px;
	position: absolute;
	transition-duration: 1s;
}

#wrapper.toggled #sidebar-wrapper.sidebar-closed ul li i {
	font-size: 20px !important;
}

.sidebar-closed .sidebar_PhoenixDAO-logo {
	margin-right: 0px !important;
	width: 32px !important;
	margin-left: -6px;
}
