.avatar-name-heading {
	color: #73727D;
	margin: 0;
	font-size: 0.8rem;
	font-weight: 700;
}

.avatar-name-inpt {
	border-radius: 5px;
	border: 1px solid #e4e4e4;
	padding: 5px 2px;
	width: 100%;
}

input[type="file"] {
	display: none;
}

.custom-file-upload1 {
	border: 1px solid #D8D8D8;
	cursor: pointer;
	margin: 0 auto;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	text-align: center;
	color: #000000;
	font-size: 30px;
	background-color: #FCFCFD;
	display: flex;
    justify-content: center;
    align-items: center;
}

.custom-img-hldr {
	border: 1px solid #ccc;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	text-align: center;
	display: block;
	padding: 6px 12px;
	margin: 0 auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.upload-text{
	color:#4E4E55;
	text-align: center;
	margin: 15px 0px 30px;
    font-size: 13px;
}
.backArrow{
	position:absolute !important;
	top:20px;
	left:20px;
}

.custom-img{
	height: 70px;
    width: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px auto;
}