.dtl-hldr {
	margin-top: 20px;
}
.acc-basic-info {
	margin: 0 auto;
}
.acc-av-hldr {
	border: 1px solid #e4e4e4;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	padding: 10px;
	margin: 0 auto;
}

.acc-av {
	width: 40px;
	display: block;
	margin: 0 auto;
}

.acc-title-hlder {
	text-align: center;
	display: flex;
	justify-content: center;
}

.acc-title{
	margin-right: 3px;
}

.acc-inpt-heading {
	color: #999999;
	font-weight: bold;
	margin: 0;
	font-size: 0.8rem;
}

.acc-form-prt {
	margin-top: 20px;
	width: 50%;
	margin: 10px auto;
}
.acc-inpt {
	border-radius: 5px;
	border: 1px solid #e4e4e4;
	padding: 5px 2px;
	width: 100%;
}

.frm-single {
}

.org-heading {
	color: blueviolet;
	font-weight: bold;
	font-size: 15px;
	margin: 0;
}

.org-subheading {
	color: #999999;
	font-size: 0.6rem;
}

.frm-btn-hldr {
	display: flex;
	justify-content: flex-end;
}

.acc-frm-btn {
	background-color: blueviolet;
	color: #ffffff;
	width: 50%;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
	border: 0px;
}
