.dtl-hldr {
	margin-top: 20px;
	background-color: white;
	margin: 40px 0px;
	padding: 50px;
	border-radius: 8px;
	padding-bottom: 80px;
}
.acc-basic-info {
	margin: 0 auto;
}
.banner{
	width:100%;
	margin-bottom: 50px;
}
.acc-av-hldr {
	border: 1px solid #e4e4e4;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin: 0 auto;
	display: flex;
}

.acc-av {
	width: 40px;
	display: block;
	margin: 0 auto;
}

.acc-title-hlder {
	text-align: center;
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.acc-title {
	margin-right: 3px;
	font-weight: 400;
	font-size: 17px;
	color:#1E1E22;
font-family: "Aeonik";
}

.redirect-img-hldr {
	margin-left: 5px;
	width: 15px;
}

.redirect-img {
	width: 100%;
}

.acc-inpt-heading {
	color: #73727D;
	margin: 0;
	font-size: 14px;
	padding-bottom: 10px;
}

.acc-wallet-input-holder {
	position: relative;
	display: flex;
	margin-bottom: 25px;
}

.acc-copy-img-holder {
	position: absolute;
	left: 94%;
	top: 21%;
}

.acc-copy-img {
	width: 100%;
}

.acc-form-prt {
	margin-top: 20px;
	width: 50%;
	margin: 10px auto;
}
.acc-inpt {
	border-radius: 5px;
	border: 1px solid #e4e4e4;
	padding: 10px;
	padding-right: 30px;
	width: 100%;
}

.acc-select {
	background-color: #ffffff;
}
.frm-single {
}

.org-heading {
	color: #413ae2;
	font-weight: bold;
	font-size: 18px;
	margin: 0;
	padding-bottom: 10px;

}

.org-subheading {
	color: #73727D;
	font-size: 12px;
}

.frm-btn-hldr {
	display: flex;
	justify-content: flex-end;
}

.acc-frm-btn {
	background-color: #413ae2;
	color: #ffffff;
	width: 100%;
	padding: 8px 10px;
	border-radius: 5px;
	text-align: center;
	border: 0px;
	font-family: "Aeonik"
}

input[type="file"] {
	display: none;
}

.custom-file-upload {
	border: 1px solid #ccc;
	display: block;
	padding: 6px 12px;
	cursor: pointer;
	margin: 0 auto;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	text-align: center;
	color: #000000;
	font-size: 30px;
}
@media screen and (max-width:1200px) {
	.acc-copy-img-holder {
		left: 91%;
	}
	.acc-inpt{
		padding-right: 43px;
	}
	.acc-form-prt{
		width: 72%;
	}
}
@media screen and (max-width:600px) {
	.acc-form-prt{
		width: 100%;
	}
	.acc-copy-img-holder {
		left: 89%;
	}
}
.acc-av-hldr .bird{
	width: 50px;
	height: 68px;
	margin: 0px auto;
}
.bird2{
	width: 68px;
	height: 68px;
	margin: 0px auto;
	border-radius: 50%;
	border: 1px solid #FCFCFD;
}