.idn-hldr {
	margin: 20px 0px 50px;
}

.idn-head {
	display: flex;
	justify-content: center;
	align-items: center;
}

.idn-heading {
	margin: 0;
	font-size: 20px;
	color: black;
	margin-right: 5px;
	font-weight: 600;
	padding-left: 6px;
}

.idn-av-hldr {
	border: 1px solid #e4e4e4;
	border-radius: 50%;
	height: 90px;
	width: 90px;
	cursor: pointer;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.idn-av {
	width: 60px;
	display: block;
	margin: 0 auto;
}

.custom-file-upload-idn {
	border: 1px solid #ccc;
	cursor: pointer;
	margin: 0 auto;
	border-radius: 50%;
	height: 90px;
	width: 90px;
	text-align: center;
	color: #000000;
	font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idn-sub {
	margin-top: 20px;
}

.idn-subhead1 {
	text-align: center;
	color: #413ae2;
	font-weight: bold;
	font-size: 24px;
	font-family: "aeonik";
	font-weight: 700;
}

.idn-subhead2 {
	text-align: center;
	color: #1e1e22;
	font-size: 14px;
	margin-bottom: 30px;
	margin-top: 11px;
}

.avatar-hldr {
	display: flex;
	flex-wrap: wrap;
	margin: 20px auto;
	width: 90%;
}

.single-avatar-hldr {
	flex-grow: 1;
	width: 33%;
	margin-bottom: 14px;
}

.select-av-img {
	border: 2px solid #413ae2;
}

.avatar-select-btn {
	background-color: #413ae2;
	color: #ffffff;
	width: 76%;
	padding: 8px 10px;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
	border: 0px;
}
.avatar-select-btn:focus{
    outline: none;
}
.avatar-select-div {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 600px) {
	.idn-av-hldr {
		height: 75px;
		width: 75px;
	}
	.single-avatar-hldr {
		width: 35%;
	}
    .idn-av{
        width: 48px;

    }
    .custom-file-upload-idn{
		height: 75px;
		width: 75px;    }
}
