.EditorToolbar__root___3_Aqz{
display: flex;
flex-wrap: wrap;
justify-content: normal;
}

/* .editor-demo > .RichTextEditor__root___2QXK- > .RichTextEditor__editor___1QqIU{
    margin-top: 50px;
} */
.editor-demo > .editor {
    height: 500px;
}
.public-DraftStyleDefault-block {
    word-break: break-word;
}