.EditorToolbar__root___3_Aqz{
    position: absolute;
    overflow: scroll;
    width: 96%;
    background-color: #fff;
    z-index: 12;
}

.editor-demo > .RichTextEditor__root___2QXK- > .RichTextEditor__editor___1QqIU{
    margin-top: 50px;
}

.public-DraftStyleDefault-block {
    word-break: break-word;
}